{% load static %}
{% load static tailwind_tags %}
<!doctype html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% tailwind_css %}  {# tailwindCSS 추가 #}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

    <style>
        {#input,textarea:focus {#}
        {#    border-color: yellow !important;#}
        {#}#}
    </style>

    <title> Hello, Pybo!</title>
</head>

<body>
    {% block content %}
    <!-- base.html 템플릿을 상속 받은 템플릿에서 구현한 내용 -->
    {% endblock %}
</body>

<footer>

</footer>

</html>