{# 템플릿 태그 #}

{% extends 'base.html' %}
{% block content %}

    <div class="overflow-x-auto flex-col space-y-20 my-32 justify-center items-center">
        <!-- 질문 -->
         <div tabindex="0" class="collapse w-2/4 mx-auto collapse-arrow border border-base-300 bg-base-100 rounded-box">
              <div class="collapse-title text-xl font-medium text-center">
                {{ question.subject }}
              </div>
              <div tabindex="0" class="collapse-content space-y-2">
                <div class="px-10 py-5">{{ question.content }}</div>
                <div class="text-center text-xs">{{ question.create_date }}</div>
              </div>
         </div>



        <!-- 답변 -->
        <div class="w-2/4 mx-auto space-y-4">
            <div class="badge badge-primary badge-outline rounded w-40 h-7 mx-5">{{ question.answer_set.count }}개의 답변이 있습니다.</div>

            {% for answer in question.answer_set.all %}
                <div class="mb-2">
                {# 나중에 if문 추가해서 답변 얼트 색깔 다르게 구현해보기 #}
                    <div class="alert alert-success shadow-lg">
                        <div>{{ answer.content }}</div>
                        <div>{{ answer.create_date }}</div>
                    </div>
{#                    <div class="alert alert-info shadow-xl">#}
{#                        <div>{{ answer.content }}</div>#}
{#                        <div>{{ answer.create_date }}</div>#}
{#                    </div>#}
                </div>
            {% endfor %}
        </div>



        <!-- 답변 등록 -->
        <div class="flex-col space-y-2">
            <div class="badge badge-primary badge-outline rounded w-20 h-7 mx-56">답변 내용</div>

            <form action="{% url 'pybo:answer_create' question.id %}" method="post" class="text-center">
                {% csrf_token %}
                <div>
                    <textarea name="content" id="content" rows="10" class="textarea textarea-bordered focus:outline-none w-3/4"></textarea>
                </div>
                <input type="submit" value="답변등록" class="btn btn-secondary text-gray-700 hover:text-white">
            </form>
        </div>
    </div>


{% endblock %}
