{# 템플릿 태그 #}

{% extends 'base.html' %}
{% block content %}

    <div class="overflow-x-auto flex-col space-y-20 my-32 justify-center items-center">

            <!-- 오류 메세지 표시 -->
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-error shadow-xl my-3 w-2/4 mx-auto">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
                            <strong>{{ message.tags }}</strong>
                            <ul><li>{{ message.message }}</li></ul>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}


        <!-- 질문 -->
         <div class="card mx-auto w-2/4 bg-white shadow-xl rounded-2xl">
            <div class="card-body">
                <div class="card-title text-xl justify-center">{{ question.subject }}</div>
                <p class="px-10 py-5">{{ question.content }}</p>
                <div class="text-center text-xs">{{ question.author.username }}</div>

                <div class="flex justify-center text-xs">
                    <div class="mx-2">created at</div>
                    <div>{{ question.create_date }}</div>
                </div>

                {% if question.modify_date %}
                    <div class="flex justify-center text-xs">
                        <div class="mx-2">modified at</div>
                        <div>{{ question.modify_date }}</div>
                    </div>
                {% endif %}

                <div class="text-center text-xs">

                    <a href="javascript:void(0)" data-uri="{% url 'pybo:question_vote' question.id  %}" class="recommend gap-2">
                        [추천
                      <div class="badge badge-sm badge-primary text-white">+{{question.voter.count}}</div>]
                    </a>

                    {% if request.user == question.author %}
                        <a href="{% url 'pybo:question_modify' question.id  %}" class="link link-hover hover:text-primary">[수정]</a>
                        <a href="javascript:void(0)" data-uri="{% url 'pybo:question_delete' question.id  %}" class="delete link link-hover hover:text-primary">[삭제]</a>
                    {% endif %}
                </div>
            </div>
        </div>


        <!-- 답변 -->
        <div class="w-2/4 mx-auto space-y-4">

            {% if question.answer_set.count > 0 %}
                 <div class="badge badge-primary badge-outline rounded w-40 h-7">{{ question.answer_set.count }}개의 답변이 있습니다.</div>
            {% endif %}


            {% for answer in question.answer_set.all %}
                <div class="mb-2">
                {# 나중에 if문 추가해서 답변 얼트 색깔 다르게 구현해보기 #}
                    <div class="alert alert-success shadow-lg px-10">
                        <div>{{ answer.content }}</div>
                        <div class="text-end">
                            <div>{{ answer.author.username }}</div>

                            <div class="flex flex-col items-center">
                                <div class="flex text-sm">
                                    <div class="mx-2">created at</div>
                                    <div>{{ answer.create_date }}</div>
                                </div>

                                {% if answer.modify_date %}
                                    <div class="flex text-sm">
                                        <div class="mx-2">modified at</div>
                                        <div>{{ answer.modify_date }}</div>
                                    </div>
                                {% endif %}
                            </div>


                            <div class="text-center text-xs">

                                <a href="javascript:void(0)" data-uri="{% url 'pybo:answer_vote' answer.id  %}" class="recommend gap-2">
                                    [추천
                                  <div class="badge badge-sm badge-primary text-white">+{{answer.voter.count}}</div>]
                                </a>

                                {% if request.user == answer.author %}
                                    <a href="{% url 'pybo:answer_modify' answer.id  %}" class="link link-hover hover:text-primary">[수정]</a>
                                    <a href="#" data-uri="{% url 'pybo:answer_delete' answer.id  %}" class="delete link link-hover hover:text-primary">[삭제]</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                </div>
            {% endfor %}

        </div>



        <!-- 답변 등록 -->
        <div class="flex-col space-y-2 mx-96">
            <div class="badge badge-primary badge-outline rounded w-20 h-7">답변 내용</div>

            <form action="{% url 'pybo:answer_create' question.id %}" method="post" class="text-center">
                {% csrf_token %}

                <!-- 오류표시 시작-->
                {% include "form_errors.html" %}
                <!-- 오류표시 끝 -->

                <div>
                    <textarea
                            {% if not user.is_authenticated %} disabled {% endif %}
                            name="content" id="content" rows="10" class="textarea textarea-bordered focus:outline-none">
                    </textarea>
                </div>
                <input type="submit" value="답변등록" class="btn btn-secondary text-gray-700 hover:text-white">
            </form>
        </div>

    </div>


{% endblock %}

{% block script %}
    <script type='text/javascript'>

    {# 질문, 답변 삭제 시 확인창 #}
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if(confirm("정말로 삭제하시겠습니까?")) {
                location.href = this.dataset.uri;
            };
        });
    });

    {# 질문, 답변 추천 시 확인창(좋아요) #}
    const recommend_elements = document.getElementsByClassName("recommend");
    Array.from(recommend_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if(confirm("정말로 추천하시겠습니까?")) {
                location.href = this.dataset.uri;
            };
        });
    });

    </script>
{% endblock %}
